.profile-header {
    display: flex;
    flex-direction: row;
}
.admin-duty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: aliceblue;
    border: 1px solid black;
    flex-wrap: wrap;
}
.img-docs {
    display: flex;
    flex-direction: row;
}
.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 15%;
    margin: 0 0 0 20px;
}
.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 20px;
}

.not-verified-img {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   

}